{erl_opts, [
	debug_info,
	{i, "include"}
]}.

{sub_dirs, ["deps", "rel"]}.
{lib_dirs, ["deps"]}.

{deps, []}.

{clean_files, [
	"doc/*.html",
	"doc/edoc-info",
	"doc/erlang.png",
	"doc/stylesheet.css",
	"dialyzer.log",
	"cgolam.plt",
	"otp.plt",
	".rebar",
	"test/*.beam",
	"logs"
]}.

{eunit_opts, [
	verbose
]}.

{cover_enabled, true}.
